.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: slide;
    animation-duration: 4s;
}
#inside {
    font-size: 30px;
}
@keyframes slide {
    from{transform: rotateZ(90deg) translateX(100px);}
}