body {
    background-color: rgba(0, 0, 0, 0.804);
}
header {
    display: grid;
    grid-template-rows: 150px 100px 150px;
    grid-template-columns: 30% 40% 30%;
}
.header_image {
    background-image: url(images/china-light-japan-moon-wallpaper-18862ad37ad4892f7201ba8a9d1eb2fa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
    grid-area: 1 / 1 / 4 / 4;
}
.header_name {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-size: 1.5em;
    color: rgba(41, 42, 39, 0.845);
}
#last {
    
}