body {
    text-align: center;
    background-image: url(FantasyKnightHDWallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
a:visited {
    color: green;
}