body {
    text-align: center;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-image: url(images/FantasyKnightHDWallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    min-height: 0px;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
}
#ASCII_ART {
    display: flex;
    top: 0;
    left: 0;
    margin: 4px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 20px;
    width: min-content;
    background-color: white;
    position: relative;
    z-index: 2;
}
#matej_ASCII {
    width: 200px;
    margin-right: 5px;
}
#palco_ASCII {
    width: 200px;
}
.navbar{
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    justify-content: center;
    z-index: 999;
}
.navbar ul{
    border: 1px solid rgb(96, 96, 96);
    padding: 6.5px;
    border-radius: 30px;
    background-color: rgb(96, 96, 96);
    list-style-type: none;
    overflow: hidden;
}
.navbar a{
    color: rgb(39, 39, 39);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    border: 1px solid rgb(185, 255, 185);
    border-radius: 20px;
    background-color: rgb(185, 255, 185);
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}
.navbar li{
    width: 100px;
    margin: auto;
    float: left;
}
.navbar ul li a:hover {
    background-color: rgb(95, 252, 95);
    border: 1px solid rgb(95, 252, 95);
}
#Home {
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10px;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    z-index: 1000;
    background-color: black;
}
#home i{
    color: white;
}
#home i:hover{
    color: rgb(95, 252, 95);
}
#Main_H1 {
    height: 800px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#HI_IAM {
    font-style: italic;
    margin-bottom: 5px;
    font-size: 26px;
}
#main_H1 {
    margin-top: 5px;
    font-size: 54px;
}
footer {
    margin-top: 40px;
    border-top: 2px  dotted;
    padding: 60px;
    height: 100px;
    background-color: rgb(101, 101, 101);
}
#left_footer {
    width: 50%;
    float: left;
    height: 150px;
}
#bottom_extra {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#bottom_credencial {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom_credencial p {
    color: rgb(191, 191, 191);
    font-style: italic;
}
.navbar_bottom {
    height: 150px;
    float: right;
    width: 50%;
    z-index: 10;
}
.navbar_bottom ul{
    list-style-type: none;
}
.navbar_bottom li {
    top: 10px;
}