body {
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-rows: 600px 50px;
    grid-template-columns: 10% 80% 10%;
}
.navline {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    align-items: center;
    justify-content: end;
}
.navline ul {
    list-style-type: none;
    display: flex;
    margin: 0;

}
.navline li {
    width: 100px;
    text-align: center;
    text-decoration-line: underline;
    font-style: oblique;
    padding: 5px 0;
    border-radius: 20px;
    margin: 0 15px;
    background-color: lightblue;
    border: 1px solid lightblue;
}
#Home {
    background-color: inherit;
    border: none;
    width: 50px;
}
a:link {
    color: initial;
}
a:visited {
    color: initial;
}
.header_image {
    grid-area: 1 / 1 / 3 / 4;
    background-image: url(images/torii-gate.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.8;
}
.welcome {
    text-align: center;
    grid-area: 1 / 1 / 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-style: oblique;
    color: rgb(49, 177, 245);
}
.welcome h3 {
    margin: 10px;
}
.welcome h1 {
    margin: 10px;
}
main {
    display: grid;
    grid-template-rows: 150px repeat(5, 300px);
    grid-template-columns: 15% 70% 15%;
    grid-auto-flow: row;
}
.running_japan {
    grid-area: 1 / 1 / 2 / 4;
    margin: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    outline: 2px double;
     outline-offset: 8px;
}
@keyframes japan {
    50% {
        transform: translateX(-200%);
    }
}
#running_japan_1 {
    animation: japan 60s cubic-bezier(.36,-0.47,.68,.53) infinite alternate;
}
#running_japan_2 {
    animation: japan 45s cubic-bezier(.39,.58,.18,1.56) infinite alternate-reverse;
}
#running_japan_3 {
    animation: japan 52s cubic-bezier(.68,-0.55,.27,1.55) infinite alternate;
}
#running_japan_4 {
    animation: japan 49s cubic-bezier(.72,.2,.3,1.11) infinite alternate-reverse;
}
#running_japan_5 {
    animation: japan 57s cubic-bezier(.18,.89,.61,1.32) infinite alternate;
}
#running_japan_6 {
    animation: japan 55s cubic-bezier(.6,.04,.98,.34) infinite alternate-reverse;
}
#running_japan_7 {
    animation: japan 51s ease-in infinite alternate;
}
.running_japan p {
    margin: 0;
    font-weight: bold;
}
.Lside {
    background: skyblue;
    grid-column: 1 / 2;
    grid-row: 2 / 7;
    margin-right: 20px;
    border-right: 2px double;
}
.Rside {
    background-color: skyblue;
    grid-row: 2 / 7;
    grid-column: 3 / 4;
    margin-left: 20px;
    border-left: 2px double;
}
#article_1 {
    grid-area: 2 / 2 / 3 / 3;
}
#article_2 {
    grid-area: 3 / 2 / 4 / 3;
    overflow-x: scroll;
}
#article_3 {
    grid-area: 4 / 2 / 5 / 3;
    overflow-x: scroll;
}
.article_div {
    box-shadow: 0 0 20px 5px grey;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    padding: 5px;
}
.article_name {
    font-size: 1.4em;
    text-decoration: underline solid grey;
}
.article_text {
    font-size: 1em;
}