body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
header {
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
    top: 0px;
    justify-content: center;
    border-bottom: 1px dashed;
    background-image: url(images/Torii_gate.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    min-height: 0px;
    background-attachment: fixed;
}
header h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 54px;
    color: rgb(255, 172, 19);

}
.navbar{
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    justify-content: center;
    z-index: 999;
}
.navbar ul{
    border: 1px solid rgb(96, 96, 96);
    padding: 6.5px;
    border-radius: 30px;
    background-color: rgb(96, 96, 96);
    list-style-type: none;
    overflow: hidden;
}
.navbar a{
    color: rgb(39, 39, 39);
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    border: 1px solid rgb(185, 255, 185);
    border-radius: 20px;
    background-color: rgb(185, 255, 185);
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}
.navbar li{
    width: 100px;
    margin: auto;
    float: left;
}
.navbar ul li a:hover {
    background-color: rgb(95, 252, 95);
    border: 1px solid rgb(95, 252, 95);
}
#Home {
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10px;
    padding: 5px;
    border: 2px solid;
    border-radius: 10px;
    z-index: 1000;
    background-color: black;
}
#home i{
    color: white;
}
#home i:hover{
    color: rgb(95, 252, 95);
}
main {
    padding: 20%;
    text-align: left;
}